# Mod 4 Project - Starter Notebook

This notebook has been provided to you so that you can make use of the following starter code to help with the trickier parts of preprocessing the Zillow dataset. 

The notebook contains a rough outline the general order you'll likely want to take in this project. You'll notice that most of the areas are left blank. This is so that it's more obvious exactly when you should make use of the starter code provided for preprocessing. 

**_NOTE:_** The number of empty cells are not meant to infer how much or how little code should be involved in any given step--we've just provided a few for your convenience. Add, delete, and change things around in this notebook as needed!

# Some Notes Before Starting

This project will be one of the more challenging projects you complete in this program. This is because working with Time Series data is a bit different than working with regular datasets. In order to make this a bit less frustrating and help you understand what you need to do (and when you need to do it), we'll quickly review the dataset formats that you'll encounter in this project. 

## Wide Format vs Long Format

If you take a look at the format of the data in `zillow_data.csv`, you'll notice that the actual Time Series values are stored as separate columns. Here's a sample: 

<img src='~/../images/df_head.png'>

You'll notice that the first seven columns look like any other dataset you're used to working with. However, column 8 refers to the median housing sales values for April 1996, column 9 for May 1996, and so on. This This is called **_Wide Format_**, and it makes the dataframe intuitive and easy to read. However, there are problems with this format when it comes to actually learning from the data, because the data only makes sense if you know the name of the column that the data can be found it. Since column names are metadata, our algorithms will miss out on what dates each value is for. This means that before we pass this data to our ARIMA model, we'll need to reshape our dataset to **_Long Format_**. Reshaped into long format, the dataframe above would now look like:

<img src='~/../images/melted1.png'>

There are now many more rows in this dataset--one for each unique time and zipcode combination in the data! Once our dataset is in this format, we'll be able to train an ARIMA model on it. The method used to convert from Wide to Long is `pd.melt()`, and it is common to refer to our dataset as 'melted' after the transition to denote that it is in long format. 

# Helper Functions Provided

Melting a dataset can be tricky if you've never done it before, so you'll see that we have provided a sample function, `melt_data()`, to help you with this step below. Also provided is:

* `get_datetimes()`, a function to deal with converting the column values for datetimes as a pandas series of datetime objects
* Some good parameters for matplotlib to help make your visualizations more readable. 

Good luck!


# Step 1: Load the Data/Filtering for Chosen Zipcodes

# Mod 4 Project - Starter Notebook

This notebook has been provided to you so that you can make use of the following starter code to help with the trickier parts of preprocessing the Zillow dataset. 

The notebook contains a rough outline the general order you'll likely want to take in this project. You'll notice that most of the areas are left blank. This is so that it's more obvious exactly when you should make use of the starter code provided for preprocessing. 

**_NOTE:_** The number of empty cells are not meant to infer how much or how little code should be involved in any given step--we've just provided a few for your convenience. Add, delete, and change things around in this notebook as needed!

# Some Notes Before Starting

This project will be one of the more challenging projects you complete in this program. This is because working with Time Series data is a bit different than working with regular datasets. In order to make this a bit less frustrating and help you understand what you need to do (and when you need to do it), we'll quickly review the dataset formats that you'll encounter in this project. 

## Wide Format vs Long Format

If you take a look at the format of the data in `zillow_data.csv`, you'll notice that the actual Time Series values are stored as separate columns. Here's a sample: 

<img src='~/../images/df_head.png'>

You'll notice that the first seven columns look like any other dataset you're used to working with. However, column 8 refers to the median housing sales values for April 1996, column 9 for May 1996, and so on. This This is called **_Wide Format_**, and it makes the dataframe intuitive and easy to read. However, there are problems with this format when it comes to actually learning from the data, because the data only makes sense if you know the name of the column that the data can be found it. Since column names are metadata, our algorithms will miss out on what dates each value is for. This means that before we pass this data to our ARIMA model, we'll need to reshape our dataset to **_Long Format_**. Reshaped into long format, the dataframe above would now look like:

<img src='~/../images/melted1.png'>

There are now many more rows in this dataset--one for each unique time and zipcode combination in the data! Once our dataset is in this format, we'll be able to train an ARIMA model on it. The method used to convert from Wide to Long is `pd.melt()`, and it is common to refer to our dataset as 'melted' after the transition to denote that it is in long format. 

# Helper Functions Provided

Melting a dataset can be tricky if you've never done it before, so you'll see that we have provided a sample function, `melt_data()`, to help you with this step below. Also provided is:

* `get_datetimes()`, a function to deal with converting the column values for datetimes as a pandas series of datetime objects
* Some good parameters for matplotlib to help make your visualizations more readable. 

Good luck!


# Step 1: Load the Data/Filtering for Chosen Zipcodes

In [1]:
ls

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

import warnings
from statsmodels.tsa.arima_model import ARIMA
from sklearn.metrics import mean_squared_error

In [3]:
df = pd.read_csv('zillow_data.csv')
df.head()

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,84654,60657,Chicago,IL,Chicago,Cook,1,334200.0,335400.0,336500.0,...,1005500,1007500,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,235700.0,236900.0,236700.0,...,308000,310000,312500,314100,315000,316600,318100,319600,321100,321800
2,91982,77494,Katy,TX,Houston,Harris,3,210400.0,212200.0,212200.0,...,321000,320600,320200,320400,320800,321200,321200,323000,326900,329900
3,84616,60614,Chicago,IL,Chicago,Cook,4,498100.0,500900.0,503100.0,...,1289800,1287700,1287400,1291500,1296600,1299000,1302700,1306400,1308500,1307000
4,93144,79936,El Paso,TX,El Paso,El Paso,5,77300.0,77300.0,77300.0,...,119100,119400,120000,120300,120300,120300,120300,120500,121000,121500

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14723 entries, 0 to 14722
Columns: 272 entries, RegionID to 2018-04
dtypes: float64(219), int64(49), object(4)
memory usage: 30.6+ MB

In [5]:
df.drop('RegionID', axis=1, inplace=True)

In [6]:
df.drop('SizeRank', axis=1, inplace=True)

In [7]:
df[df['City'] == 'Kansas City'].shape

(37, 270)

In [34]:
def melt_data(df):
    melted = pd.melt(df, id_vars=['RegionName', 'City', 'State', 'Metro', 'CountyName'], var_name='time')
    melted['time'] = pd.to_datetime(melted['time'], infer_datetime_format=True)
    melted = melted.dropna(subset=['value'])
    return melted.groupby('time').aggregate({'value':'mean'})


# evaluate an ARIMA model for a given order (p,d,q)
def evaluate_arima_model(X, arima_order):
    # prepare training dataset
    train_size = int(len(X) * 0.66)
    train, test = X[0:train_size], X[train_size:]
    history = [x for x in train]
    # make predictions
    predictions = list()
    for t in range(len(test)):
        model = ARIMA(history, order=arima_order)
        model_fit = model.fit(disp=0)
        yhat = model_fit.forecast()[0]
        predictions.append(yhat)
        history.append(test[t])
    # calculate out of sample error
    error = mean_squared_error(test, predictions)
    return error
 
# evaluate combinations of p, d and q values for an ARIMA model
def evaluate_models(dataset, p_values, d_values, q_values):
    dataset = dataset.astype('float32')
    best_score, best_cfg = float("inf"), None
    for p in p_values:
        for d in d_values:
            for q in q_values:
                order = (p,d,q)
                try:
                    mse = evaluate_arima_model(dataset, order)
                    if mse < best_score:
                        best_score, best_cfg = mse, order
                    print('ARIMA%s MSE=%.3f' % (order,mse))
                except:
                    continue
    print('Best ARIMA%s MSE=%.3f' % (best_cfg, best_score))
    return best_cfg

In [11]:
for index, x in df[df['City'] == 'Kansas City'].iterrows():
    print(x['RegionName'])

64119
64114
64151
64111
66102
64131
66104
64155
66109
64134
64116
66106
64157
64110
64117
66103
64112
66112
64154
64108
64113
64106
64124
64137
64105
64129
64123
66111
64126
64156
64153
64158
64145
64136
64125
64139
64146

In [14]:
series = melt_data(df.loc[[2919]])
model= ARIMA(series, order=(1,1,1))
model_fit= model.fit()

C:\Users\luigi\Anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:171: ValueWarning: No frequency information was provided, so inferred frequency MS will be used.
  % freq, ValueWarning)
C:\Users\luigi\Anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:191: FutureWarning: Creating a DatetimeIndex by passing range endpoints is deprecated.  Use `pandas.date_range` instead.
  start=index[0], end=index[-1], freq=freq)
C:\Users\luigi\Anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:171: ValueWarning: No frequency information was provided, so inferred frequency MS will be used.
  % freq, ValueWarning)

In [16]:
model_fit.forecast(steps=12)[0]

array([143073.61560612, 143331.26046148, 143577.72436054, 143816.36058853,
       144049.51674551, 144278.83636184])

In [29]:
six_months = model_fit.forecast(steps=36)[0][-1]
(six_months - today)/today

0.05679732209422842

In [ ]:
series

In [26]:
today = series.iloc[-1].value

In [38]:
roi_list = {}
for index, x in df[df['City'] == 'Kansas City'].iterrows():
    print(x['RegionName'])
    series = melt_data(df.loc[[index]])
    # evaluate parameters
    p_values = [0, 1, 2]
    d_values = range(0, 2)
    q_values = range(0, 2)
    warnings.filterwarnings("ignore")
    
    order = evaluate_models(series.values, p_values, d_values, q_values)
    
    model= ARIMA(series, order=order)
    model_fit= model.fit()
    six_months = model_fit.forecast(steps=36)[0][-1]
    today = series.iloc[-1].value
    roi = (six_months - today)/today
    roi_list[x['RegionName']] = roi

64119
ARIMA(0, 0, 0) MSE=93611590.076
ARIMA(0, 0, 1) MSE=24344135.774
ARIMA(0, 1, 0) MSE=875810.127
ARIMA(0, 1, 1) MSE=351653.230
ARIMA(1, 0, 0) MSE=921897.011
ARIMA(1, 1, 0) MSE=337473.443
ARIMA(1, 1, 1) MSE=256744.799
ARIMA(2, 0, 0) MSE=338327.407
ARIMA(2, 0, 1) MSE=259557.192
ARIMA(2, 1, 0) MSE=291309.276
ARIMA(2, 1, 1) MSE=259864.982
Best ARIMA(1, 1, 1) MSE=256744.799
64114
ARIMA(0, 0, 0) MSE=559210333.009
ARIMA(0, 0, 1) MSE=144359078.033
ARIMA(0, 1, 0) MSE=881044.928
ARIMA(0, 1, 1) MSE=322385.536
ARIMA(1, 0, 0) MSE=1130423.428
ARIMA(1, 1, 0) MSE=182842.663
ARIMA(1, 1, 1) MSE=157165.738
ARIMA(2, 0, 0) MSE=185511.413
ARIMA(2, 1, 0) MSE=170707.770
ARIMA(2, 1, 1) MSE=159283.549
Best ARIMA(1, 1, 1) MSE=157165.738
64151
ARIMA(0, 0, 0) MSE=348965340.874
ARIMA(0, 0, 1) MSE=90068757.065
ARIMA(0, 1, 0) MSE=1476214.284
ARIMA(0, 1, 1) MSE=555361.512
ARIMA(1, 0, 0) MSE=1611215.523
ARIMA(1, 1, 0) MSE=589199.533
ARIMA(1, 1, 1) MSE=372531.470
ARIMA(2, 0, 0) MSE=593654.932
ARIMA(2, 0, 1) MSE=379476.445
ARIMA(2, 1, 0) MSE=422441.139
ARIMA(2, 1, 1) MSE=357723.083
Best ARIMA(2, 1, 1) MSE=357723.083
64111
ARIMA(0, 0, 0) MSE=1046478451.082
ARIMA(0, 0, 1) MSE=268239852.715
ARIMA(0, 1, 0) MSE=1320317.965
ARIMA(0, 1, 1) MSE=442952.078
ARIMA(1, 0, 0) MSE=1681559.936
ARIMA(1, 1, 0) MSE=319922.896
ARIMA(1, 1, 1) MSE=230671.390
ARIMA(2, 0, 0) MSE=325903.166
ARIMA(2, 1, 0) MSE=291122.050
ARIMA(2, 1, 1) MSE=234076.938
Best ARIMA(1, 1, 1) MSE=230671.390
66102
ARIMA(0, 0, 0) MSE=309201073.471
ARIMA(0, 1, 0) MSE=730242.214
ARIMA(0, 1, 1) MSE=302242.199
ARIMA(1, 1, 0) MSE=208462.255
ARIMA(1, 1, 1) MSE=191855.952
ARIMA(2, 0, 1) MSE=192234.200
ARIMA(2, 1, 0) MSE=204267.921
ARIMA(2, 1, 1) MSE=189578.085
Best ARIMA(2, 1, 1) MSE=189578.085
64131
ARIMA(0, 0, 0) MSE=232139298.370
ARIMA(0, 0, 1) MSE=59730963.958
ARIMA(0, 1, 0) MSE=904157.486
ARIMA(0, 1, 1) MSE=348353.288
ARIMA(1, 0, 0) MSE=976655.899
ARIMA(1, 1, 0) MSE=242356.072
ARIMA(1, 1, 1) MSE=178909.643
ARIMA(2, 0, 0) MSE=242725.226
ARIMA(2, 0, 1) MSE=180343.328
ARIMA(2, 1, 0) MSE=205178.700
ARIMA(2, 1, 1) MSE=178953.122
Best ARIMA(1, 1, 1) MSE=178909.643
66104
ARIMA(0, 0, 0) MSE=402167993.965
ARIMA(0, 1, 0) MSE=707218.505
ARIMA(0, 1, 1) MSE=261610.613
ARIMA(1, 1, 0) MSE=245209.506
ARIMA(2, 0, 1) MSE=176771.260
ARIMA(2, 1, 0) MSE=209465.978
ARIMA(2, 1, 1) MSE=181514.236
Best ARIMA(2, 0, 1) MSE=176771.260
64155
ARIMA(0, 0, 0) MSE=350738953.197
ARIMA(0, 0, 1) MSE=90381034.697
ARIMA(0, 1, 0) MSE=880585.902
ARIMA(0, 1, 1) MSE=321075.701
ARIMA(1, 0, 0) MSE=1027629.161
ARIMA(1, 1, 0) MSE=403036.680
ARIMA(1, 1, 1) MSE=255431.359
ARIMA(2, 0, 0) MSE=410202.983
ARIMA(2, 0, 1) MSE=262988.060
ARIMA(2, 1, 0) MSE=343982.004
ARIMA(2, 1, 1) MSE=257561.217
Best ARIMA(1, 1, 1) MSE=255431.359
66109
ARIMA(0, 0, 0) MSE=437244681.925
ARIMA(0, 0, 1) MSE=112558202.706
ARIMA(0, 1, 0) MSE=1450302.123
ARIMA(0, 1, 1) MSE=546690.772
ARIMA(1, 0, 0) MSE=1631513.648
ARIMA(1, 1, 0) MSE=474070.524
ARIMA(1, 1, 1) MSE=355338.319
ARIMA(2, 0, 0) MSE=478354.407
ARIMA(2, 1, 0) MSE=456894.424
ARIMA(2, 1, 1) MSE=358810.257
Best ARIMA(1, 1, 1) MSE=355338.319
64134
ARIMA(0, 0, 0) MSE=255146346.458
ARIMA(0, 1, 0) MSE=700681.155
ARIMA(0, 1, 1) MSE=278811.170
ARIMA(1, 1, 0) MSE=280967.115
ARIMA(1, 1, 1) MSE=214217.993
ARIMA(2, 1, 0) MSE=252179.031
ARIMA(2, 1, 1) MSE=216196.534
Best ARIMA(1, 1, 1) MSE=214217.993
64116
ARIMA(0, 0, 0) MSE=138843629.088
ARIMA(0, 0, 1) MSE=36432457.068
ARIMA(0, 1, 0) MSE=904780.627
ARIMA(0, 1, 1) MSE=339553.586
ARIMA(1, 0, 0) MSE=1010416.082
ARIMA(1, 1, 0) MSE=339119.725
ARIMA(1, 1, 1) MSE=241521.751
ARIMA(2, 0, 0) MSE=341456.542
ARIMA(2, 0, 1) MSE=244732.991
ARIMA(2, 1, 0) MSE=268419.561
ARIMA(2, 1, 1) MSE=243622.719
Best ARIMA(1, 1, 1) MSE=241521.751
66106
ARIMA(0, 0, 0) MSE=247231778.541
ARIMA(0, 0, 1) MSE=62379165.572
ARIMA(0, 1, 0) MSE=1481413.136
ARIMA(0, 1, 1) MSE=527868.379
ARIMA(1, 0, 0) MSE=1545032.610
ARIMA(1, 1, 0) MSE=427083.818
ARIMA(1, 1, 1) MSE=304219.282
ARIMA(2, 0, 1) MSE=305942.661
ARIMA(2, 1, 0) MSE=359695.807
ARIMA(2, 1, 1) MSE=311069.269
Best ARIMA(1, 1, 1) MSE=304219.282
64157
ARIMA(0, 0, 0) MSE=1085569622.600
ARIMA(0, 0, 1) MSE=277591612.261
ARIMA(0, 1, 0) MSE=1978434.756
ARIMA(0, 1, 1) MSE=953431.830
ARIMA(1, 0, 0) MSE=2300447.010
ARIMA(1, 1, 0) MSE=860686.761
ARIMA(1, 1, 1) MSE=742147.112
ARIMA(2, 0, 1) MSE=759729.718
ARIMA(2, 1, 0) MSE=797181.245
ARIMA(2, 1, 1) MSE=750168.945
Best ARIMA(1, 1, 1) MSE=742147.112
64110
ARIMA(0, 0, 0) MSE=984075017.408
ARIMA(0, 0, 1) MSE=248534682.327
ARIMA(0, 1, 0) MSE=4549252.019
ARIMA(0, 1, 1) MSE=1569944.757
ARIMA(1, 0, 0) MSE=4647083.143
ARIMA(1, 1, 0) MSE=1491652.228
ARIMA(2, 0, 0) MSE=1488429.552
ARIMA(2, 1, 0) MSE=1078731.058
ARIMA(2, 1, 1) MSE=887691.723
Best ARIMA(2, 1, 1) MSE=887691.723
64117
ARIMA(0, 0, 0) MSE=59823991.760
ARIMA(0, 0, 1) MSE=15442607.750
ARIMA(0, 1, 0) MSE=973520.515
ARIMA(0, 1, 1) MSE=363420.069
ARIMA(1, 0, 0) MSE=993169.888
ARIMA(1, 1, 0) MSE=389622.452
ARIMA(1, 1, 1) MSE=281020.372
ARIMA(2, 0, 0) MSE=390467.961
ARIMA(2, 0, 1) MSE=282056.524
ARIMA(2, 1, 0) MSE=364573.977
ARIMA(2, 1, 1) MSE=293626.571
Best ARIMA(1, 1, 1) MSE=281020.372
66103
ARIMA(0, 0, 0) MSE=343376948.190
ARIMA(0, 0, 1) MSE=87690408.302
ARIMA(0, 1, 0) MSE=2098837.662
ARIMA(0, 1, 1) MSE=806242.831
ARIMA(1, 0, 0) MSE=2217390.475
ARIMA(1, 1, 0) MSE=758674.626
ARIMA(1, 1, 1) MSE=543321.274
ARIMA(2, 0, 0) MSE=764257.734
ARIMA(2, 0, 1) MSE=548192.959
ARIMA(2, 1, 0) MSE=670996.997
ARIMA(2, 1, 1) MSE=559347.307
Best ARIMA(1, 1, 1) MSE=543321.274
64112
ARIMA(0, 0, 0) MSE=3102533072.448
ARIMA(0, 0, 1) MSE=790913339.464
ARIMA(0, 1, 0) MSE=6056556.781
ARIMA(0, 1, 1) MSE=2549875.094
ARIMA(1, 0, 0) MSE=6515770.433
ARIMA(1, 1, 0) MSE=2872199.441
ARIMA(1, 1, 1) MSE=1904775.019
ARIMA(2, 0, 0) MSE=2936610.063
ARIMA(2, 0, 1) MSE=1976315.188
ARIMA(2, 1, 0) MSE=2263884.010
ARIMA(2, 1, 1) MSE=1877795.124
Best ARIMA(2, 1, 1) MSE=1877795.124
66112
ARIMA(0, 0, 0) MSE=213645290.889
ARIMA(0, 0, 1) MSE=55089523.326
ARIMA(0, 1, 0) MSE=1295061.397
ARIMA(0, 1, 1) MSE=554812.713
ARIMA(1, 0, 0) MSE=1412608.918
ARIMA(1, 1, 0) MSE=438699.160
ARIMA(1, 1, 1) MSE=367293.675
ARIMA(2, 0, 0) MSE=441231.188
ARIMA(2, 0, 1) MSE=370320.533
ARIMA(2, 1, 0) MSE=415043.094
ARIMA(2, 1, 1) MSE=376985.125
Best ARIMA(1, 1, 1) MSE=367293.675
64154
ARIMA(0, 0, 0) MSE=698619975.364
ARIMA(0, 0, 1) MSE=177591663.464
ARIMA(0, 1, 0) MSE=2455815.101
ARIMA(0, 1, 1) MSE=808450.471
ARIMA(1, 0, 0) MSE=2595022.332
ARIMA(1, 1, 0) MSE=905958.551
ARIMA(2, 0, 0) MSE=911340.392
ARIMA(2, 1, 0) MSE=674685.064
ARIMA(2, 1, 1) MSE=487282.692
Best ARIMA(2, 1, 1) MSE=487282.692
64108
ARIMA(0, 0, 0) MSE=1729712739.844
ARIMA(0, 0, 1) MSE=439333985.336
ARIMA(0, 1, 0) MSE=4009170.393
ARIMA(0, 1, 1) MSE=1509389.170
ARIMA(1, 0, 0) MSE=4414299.775
ARIMA(1, 1, 0) MSE=1372491.474
ARIMA(1, 1, 1) MSE=986971.272
ARIMA(2, 0, 0) MSE=1374109.014
ARIMA(2, 0, 1) MSE=998631.183
ARIMA(2, 1, 0) MSE=1143313.976
ARIMA(2, 1, 1) MSE=1020623.520
Best ARIMA(1, 1, 1) MSE=986971.272
64113
ARIMA(0, 0, 0) MSE=6315600546.710
ARIMA(0, 0, 1) MSE=1606894556.240
ARIMA(0, 1, 0) MSE=7808308.974
ARIMA(0, 1, 1) MSE=2860230.853
ARIMA(1, 0, 0) MSE=9282897.184
ARIMA(1, 1, 0) MSE=2501230.035
ARIMA(1, 1, 1) MSE=1727285.014
ARIMA(2, 0, 0) MSE=2543366.022
ARIMA(2, 1, 0) MSE=2043239.104
Best ARIMA(1, 1, 1) MSE=1727285.014
64106
ARIMA(0, 0, 0) MSE=925684761.540
ARIMA(0, 0, 1) MSE=235622708.291
ARIMA(0, 1, 0) MSE=2880733.788
ARIMA(0, 1, 1) MSE=1253214.131
ARIMA(1, 0, 0) MSE=3043104.256
ARIMA(1, 1, 0) MSE=1335622.848
ARIMA(1, 1, 1) MSE=1025797.115
ARIMA(2, 0, 1) MSE=1047934.932
ARIMA(2, 1, 0) MSE=1244628.182
ARIMA(2, 1, 1) MSE=1051288.496
Best ARIMA(1, 1, 1) MSE=1025797.115
64124
ARIMA(0, 0, 0) MSE=32342507.850
ARIMA(0, 0, 1) MSE=8132788.940
ARIMA(0, 1, 0) MSE=898324.751
ARIMA(0, 1, 1) MSE=389453.148
ARIMA(1, 0, 0) MSE=889290.759
ARIMA(1, 1, 0) MSE=458830.874
ARIMA(1, 1, 1) MSE=352059.833
ARIMA(2, 0, 0) MSE=457405.631
ARIMA(2, 0, 1) MSE=352024.494
ARIMA(2, 1, 0) MSE=418637.109
ARIMA(2, 1, 1) MSE=364514.845
Best ARIMA(2, 0, 1) MSE=352024.494
64137
ARIMA(0, 0, 0) MSE=156443588.099
ARIMA(0, 0, 1) MSE=39966608.100
ARIMA(0, 1, 0) MSE=1002359.131
ARIMA(0, 1, 1) MSE=363517.372
ARIMA(1, 0, 0) MSE=1058134.628
ARIMA(1, 1, 0) MSE=315308.656

ARIMA(1, 1, 1) MSE=225963.580
ARIMA(2, 0, 0) MSE=315311.063
ARIMA(2, 0, 1) MSE=227134.652
ARIMA(2, 1, 0) MSE=281724.451
ARIMA(2, 1, 1) MSE=231416.459
Best ARIMA(1, 1, 1) MSE=225963.580
64105
ARIMA(0, 0, 0) MSE=233439718.259
ARIMA(0, 0, 1) MSE=59342038.307
ARIMA(0, 1, 0) MSE=1685229.670
ARIMA(0, 1, 1) MSE=734414.826
ARIMA(1, 0, 0) MSE=1585561.399
ARIMA(1, 1, 0) MSE=1016577.926
ARIMA(1, 1, 1) MSE=682609.006
ARIMA(2, 0, 0) MSE=1018268.790
ARIMA(2, 0, 1) MSE=686752.896
ARIMA(2, 1, 0) MSE=856858.046
ARIMA(2, 1, 1) MSE=676616.762
Best ARIMA(2, 1, 1) MSE=676616.762
64129
ARIMA(0, 0, 0) MSE=116257594.074
ARIMA(0, 0, 1) MSE=28874146.911
ARIMA(0, 1, 0) MSE=727670.750
ARIMA(0, 1, 1) MSE=294036.101
ARIMA(1, 0, 0) MSE=705104.698
ARIMA(1, 1, 0) MSE=357629.389
ARIMA(1, 1, 1) MSE=251863.181
ARIMA(2, 0, 1) MSE=250819.286
ARIMA(2, 1, 0) MSE=323110.471
ARIMA(2, 1, 1) MSE=256519.700
Best ARIMA(2, 0, 1) MSE=250819.286
64123
ARIMA(0, 0, 0) MSE=23137869.162
ARIMA(0, 0, 1) MSE=5809465.250
ARIMA(0, 1, 0) MSE=680250.676
ARIMA(0, 1, 1) MSE=340062.338
ARIMA(1, 0, 0) MSE=679806.239
ARIMA(1, 1, 0) MSE=464566.705
ARIMA(1, 1, 1) MSE=335517.778
ARIMA(2, 0, 0) MSE=464087.269
ARIMA(2, 0, 1) MSE=336980.487
ARIMA(2, 1, 0) MSE=408912.597
ARIMA(2, 1, 1) MSE=330272.639
Best ARIMA(2, 1, 1) MSE=330272.639
66111
ARIMA(0, 0, 0) MSE=270700073.764
ARIMA(0, 0, 1) MSE=68902081.186
ARIMA(0, 1, 0) MSE=1522300.128
ARIMA(0, 1, 1) MSE=583145.639
ARIMA(1, 0, 0) MSE=1642704.646
ARIMA(1, 1, 0) MSE=522273.996
ARIMA(1, 1, 1) MSE=362812.034
ARIMA(2, 0, 0) MSE=523006.138
ARIMA(2, 0, 1) MSE=364750.120
ARIMA(2, 1, 0) MSE=424415.423
ARIMA(2, 1, 1) MSE=359336.055
Best ARIMA(2, 1, 1) MSE=359336.055
64126
ARIMA(0, 0, 0) MSE=9302438.448
ARIMA(0, 0, 1) MSE=2572034.202
ARIMA(0, 1, 0) MSE=1011228.625
ARIMA(0, 1, 1) MSE=484736.721
ARIMA(1, 0, 0) MSE=982513.641
ARIMA(1, 1, 0) MSE=751156.561
ARIMA(2, 0, 0) MSE=749276.894
ARIMA(2, 1, 0) MSE=649879.036
ARIMA(2, 1, 1) MSE=494761.931
Best ARIMA(0, 1, 1) MSE=484736.721
64156
ARIMA(0, 0, 0) MSE=1987314352.207
ARIMA(0, 0, 1) MSE=509258509.272
ARIMA(0, 1, 0) MSE=5396842.954
ARIMA(0, 1, 1) MSE=3192384.003
ARIMA(1, 0, 0) MSE=10266588.810
ARIMA(1, 1, 0) MSE=2560744.697
ARIMA(1, 1, 1) MSE=2610064.022
ARIMA(2, 0, 0) MSE=4567042.631
ARIMA(2, 0, 1) MSE=4574804.121
ARIMA(2, 1, 0) MSE=2904981.488
ARIMA(2, 1, 1) MSE=2826921.785
Best ARIMA(1, 1, 0) MSE=2560744.697
64153
ARIMA(0, 0, 0) MSE=405425066.508
ARIMA(0, 0, 1) MSE=104406824.447
ARIMA(0, 1, 0) MSE=1632733.615
ARIMA(0, 1, 1) MSE=683477.576
ARIMA(1, 0, 0) MSE=1767352.797
ARIMA(1, 1, 0) MSE=713363.680
ARIMA(1, 1, 1) MSE=501070.502
ARIMA(2, 1, 0) MSE=556128.582
ARIMA(2, 1, 1) MSE=487084.001
Best ARIMA(2, 1, 1) MSE=487084.001
64158
ARIMA(0, 0, 0) MSE=535971325.519
ARIMA(0, 0, 1) MSE=138847679.179
ARIMA(0, 1, 0) MSE=1801796.522
ARIMA(0, 1, 1) MSE=697578.679
ARIMA(1, 0, 0) MSE=2061480.728
ARIMA(1, 1, 0) MSE=795279.486
ARIMA(1, 1, 1) MSE=581202.629
ARIMA(2, 0, 0) MSE=810237.160
ARIMA(2, 1, 0) MSE=808510.991
ARIMA(2, 1, 1) MSE=620524.468
Best ARIMA(1, 1, 1) MSE=581202.629
64145
ARIMA(0, 0, 0) MSE=698416407.048
ARIMA(0, 0, 1) MSE=181022940.882
ARIMA(0, 1, 0) MSE=3728323.303
ARIMA(0, 1, 1) MSE=1391958.910
ARIMA(1, 0, 0) MSE=4119127.706
ARIMA(1, 1, 0) MSE=1048360.639
ARIMA(2, 0, 0) MSE=1059684.748
ARIMA(2, 1, 0) MSE=983785.155
ARIMA(2, 1, 1) MSE=800960.941
Best ARIMA(2, 1, 1) MSE=800960.941
64136
ARIMA(0, 0, 0) MSE=89624739.896
ARIMA(0, 0, 1) MSE=23065188.384
ARIMA(0, 1, 0) MSE=1302823.292
ARIMA(0, 1, 1) MSE=516083.836
ARIMA(1, 0, 0) MSE=1330663.866
ARIMA(1, 1, 0) MSE=524851.031
ARIMA(1, 1, 1) MSE=377390.264
ARIMA(2, 0, 0) MSE=524826.288
ARIMA(2, 0, 1) MSE=378563.310
ARIMA(2, 1, 0) MSE=415251.678
ARIMA(2, 1, 1) MSE=372776.898
Best ARIMA(2, 1, 1) MSE=372776.898
64125
ARIMA(0, 0, 0) MSE=14948908.061
ARIMA(0, 0, 1) MSE=3741717.912
ARIMA(0, 1, 0) MSE=748214.552
ARIMA(0, 1, 1) MSE=351609.228
ARIMA(1, 0, 0) MSE=721007.484
ARIMA(1, 1, 0) MSE=511892.501
ARIMA(1, 1, 1) MSE=345514.503
ARIMA(2, 0, 0) MSE=511035.828
ARIMA(2, 1, 0) MSE=424887.638
ARIMA(2, 1, 1) MSE=345409.487
Best ARIMA(2, 1, 1) MSE=345409.487
64139
ARIMA(0, 0, 0) MSE=773593906.519
ARIMA(0, 0, 1) MSE=199269420.426
ARIMA(0, 1, 0) MSE=2885219.471
ARIMA(0, 1, 1) MSE=1131444.680
ARIMA(1, 0, 0) MSE=3189163.259
ARIMA(1, 1, 0) MSE=1003659.597
ARIMA(1, 1, 1) MSE=734503.934
ARIMA(2, 0, 0) MSE=1016866.053
ARIMA(2, 0, 1) MSE=745325.025
ARIMA(2, 1, 0) MSE=849916.836
ARIMA(2, 1, 1) MSE=752767.193
Best ARIMA(1, 1, 1) MSE=734503.934
64146
ARIMA(0, 0, 0) MSE=138493454.959
ARIMA(0, 0, 1) MSE=35488321.406
ARIMA(0, 1, 0) MSE=1854495.736
ARIMA(0, 1, 1) MSE=747863.172
ARIMA(1, 0, 0) MSE=1860432.815
ARIMA(1, 1, 0) MSE=599299.334
ARIMA(1, 1, 1) MSE=456711.515
ARIMA(2, 0, 0) MSE=599686.698
ARIMA(2, 0, 1) MSE=457338.153
ARIMA(2, 1, 0) MSE=511273.913
ARIMA(2, 1, 1) MSE=463110.939
Best ARIMA(1, 1, 1) MSE=456711.515

In [42]:
roi_list

{64119: 0.05679732209422842,
 64114: 0.1192970729762698,
 64151: 0.05905026321941397,
 64111: 0.09693136094924668,
 66102: 0.01407573960837967,
 64131: 0.04546284263701976,
 66104: 0.0017268933293670607,
 64155: 0.06257263719843865,
 66109: 0.07817196811403077,
 64134: 0.04056394230247112,
 64116: 0.07975137309361202,
 66106: 0.1373985358861824,
 64157: 0.06528310078178046,
 64110: 0.08353030324922359,
 64117: 0.06822308914977174,
 66103: 0.10155508045775981,
 64112: 0.10592691843828653,
 66112: 0.08488559860951322,
 64154: 0.04150743227539524,
 64108: 0.03203111596063606,
 64113: 0.08080219700287117,
 64106: 0.14737096179258374,
 64124: 0.0067724159021344005,
 64137: 0.06481306716880608,
 64105: 0.06870997231295099,
 64129: -0.01684479110929328,
 64123: 0.05745865294676608,
 66111: 0.06020684041017004,
 64126: 0.06094194217722193,
 64156: 0.06920193050296697,
 64153: 0.05623209319876416,
 64158: 0.06907822253949673,
 64145: 0.09720449413548049,
 64136: 0.04962982541605204,
 64125: 0.05666884598152787,
 64139: 0.09670521678169679,
 64146: 0.044572768695209576}

In [47]:
s = [(k, roi_list[k]) for k in sorted(roi_list, key=roi_list.get, reverse=True)]
for k, v in s:
    print(k, v)

64106 0.14737096179258374
66106 0.1373985358861824
64114 0.1192970729762698
64112 0.10592691843828653
66103 0.10155508045775981
64145 0.09720449413548049
64111 0.09693136094924668
64139 0.09670521678169679
66112 0.08488559860951322
64110 0.08353030324922359
64113 0.08080219700287117
64116 0.07975137309361202
66109 0.07817196811403077
64156 0.06920193050296697
64158 0.06907822253949673
64105 0.06870997231295099
64117 0.06822308914977174
64157 0.06528310078178046
64137 0.06481306716880608
64155 0.06257263719843865
64126 0.06094194217722193
66111 0.06020684041017004
64151 0.05905026321941397
64123 0.05745865294676608
64119 0.05679732209422842
64125 0.05666884598152787
64153 0.05623209319876416
64136 0.04962982541605204
64131 0.04546284263701976
64146 0.044572768695209576
64154 0.04150743227539524
64134 0.04056394230247112
64108 0.03203111596063606
66102 0.01407573960837967
64124 0.0067724159021344005
66104 0.0017268933293670607
64129 -0.01684479110929328

In [50]:
s[:5]

[(64106, 0.14737096179258374),
 (66106, 0.1373985358861824),
 (64114, 0.1192970729762698),
 (64112, 0.10592691843828653),
 (66103, 0.10155508045775981)]

In [ ]:
pd.DataFrame(df.loc[index])

In [ ]:
melt_data(df.loc[[index]])

In [ ]:
melt_data(pd.DataFrame(x))

# Step 2: Data Preprocessing

In [ ]:
def get_datetimes(df):
    return pd.to_datetime(df.columns.values[1:], format='%Y-%m')

# Step 3: EDA and Visualization

In [ ]:
font = {'family' : 'normal',
        'weight' : 'bold',
        'size'   : 22}

matplotlib.rc('font', **font)

# NOTE: if you visualizations are too cluttered to read, try calling 'plt.gcf().autofmt_xdate()'!

# Step 4: Reshape from Wide to Long Format

In [ ]:
def melt_data(df):
    melted = pd.melt(df, id_vars=['RegionName', 'City', 'State', 'Metro', 'CountyName'], var_name='time')
    melted['time'] = pd.to_datetime(melted['time'], infer_datetime_format=True)
    melted = melted.dropna(subset=['value'])
    return melted.groupby('time').aggregate({'value':'mean'})

In [ ]:
melt_data(df)

In [ ]:
chicago = df[df['RegionName'] == 60657]
chicago

In [ ]:
chicago_time.describe()

In [ ]:
chicago_time = melt_data(chicago)

In [ ]:
chicago_time.plot(figsize=(12,8));

In [ ]:
def test_stationarity(timeseries):
    #Determing rolling statistics
    rolmean = timeseries.rolling(window=12).mean()
    rolstd = timeseries.rolling(window=12).std()

    #Plot rolling statistics:
    plt.figure(figsize=(12,8))
    orig = plt.plot(timeseries, color='blue',label='Original')
    mean = plt.plot(rolmean, color='red', label='Rolling Mean')
    std = plt.plot(rolstd, color='black', label = 'Rolling Std')
    plt.legend(loc='best')
    plt.title('Rolling Mean & Standard Deviation')
    plt.show(block=False)

In [ ]:
test_stationarity(chicago_time)

In [ ]:
chicago_diff = chicago_time.diff()
chicago_diff.plot(figsize=(12,8));

In [ ]:
chicago_diff1 = chicago_diff.diff()
chicago_diff1.plot(figsize=(12,8));

In [ ]:
chicago_diff2 = chicago_diff1.diff()
chicago_diff2.plot(figsize=(12,8));

In [ ]:
chicago_2009_onwards = chicago_time['2009': '2018']
print(chicago_2009_onwards.head())

In [ ]:
chicago_2009_onwards.plot(figsize=(12,8))

In [ ]:
chicago_2009_onwards.plot(figsize = (20,6), style = ".b");

In [ ]:
year_groups = chicago_2009_onwards.groupby(pd.Grouper(freq ='A'))

In [ ]:
len(year_groups)

In [ ]:
for yr, group in year_groups:
    print(group.values.ravel())

In [ ]:
chicago_annual

In [ ]:
chicago_2009_onwards.head()

In [ ]:
chicago_2009_onwards['Month'] = chicago_2009_onwards.index.month

In [ ]:
chicago_2009_onwards.head()

In [ ]:
chicago_2009_onwards.groupby('Month')['value'].mean().plot(kind='line')

In [ ]:
chicago_annual = pd.DataFrame()

for yr, group in year_groups:
    print(yr)
    chicago_annual[yr] = group.values.ravel()
    
# Plot the yearly groups as subplots
chicago_annual.plot(figsize = (13,8), subplots=True, legend=True);

# Step 5: ARIMA Modeling

In [ ]:
# evaluate an ARIMA model for a given order (p,d,q)
def evaluate_arima_model(X, arima_order):
	# prepare training dataset
	train_size = int(len(X) * 0.66)
	train, test = X[0:train_size], X[train_size:]
	history = [x for x in train]
	# make predictions
	predictions = list()
	for t in range(len(test)):
		model = ARIMA(history, order=arima_order)
		model_fit = model.fit(disp=0)
		yhat = model_fit.forecast()[0]
		predictions.append(yhat)
		history.append(test[t])
	# calculate out of sample error
	error = mean_squared_error(test, predictions)
	return error
 
# evaluate combinations of p, d and q values for an ARIMA model
def evaluate_models(dataset, p_values, d_values, q_values):
	dataset = dataset.astype('float32')
	best_score, best_cfg = float("inf"), None
	for p in p_values:
		for d in d_values:
			for q in q_values:
				order = (p,d,q)
				try:
					mse = evaluate_arima_model(dataset, order)
					if mse < best_score:
						best_score, best_cfg = mse, order
					print('ARIMA%s MSE=%.3f' % (order,mse))
				except:
					continue
	print('Best ARIMA%s MSE=%.3f' % (best_cfg, best_score))
 
series = chicago_time
# evaluate parameters
p_values = [0, 1, 2, 4, 6, 8, 10]
d_values = range(0, 3)
q_values = range(0, 3)
warnings.filterwarnings("ignore")
evaluate_models(series.values, p_values, d_values, q_values)

# Step 2: Data Preprocessing

In [ ]:
def get_datetimes(df):
    return pd.to_datetime(df.columns.values[1:], format='%Y-%m')

# Step 3: EDA and Visualization

In [ ]:
font = {'family' : 'normal',
        'weight' : 'bold',
        'size'   : 22}

matplotlib.rc('font', **font)

# NOTE: if you visualizations are too cluttered to read, try calling 'plt.gcf().autofmt_xdate()'!

# Step 4: Reshape from Wide to Long Format

In [ ]:
def melt_data(df):
    melted = pd.melt(df, id_vars=['RegionName', 'City', 'State', 'Metro', 'CountyName'], var_name='time')
    melted['time'] = pd.to_datetime(melted['time'], infer_datetime_format=True)
    melted = melted.dropna(subset=['value'])
    return melted.groupby('time').aggregate({'value':'mean'})

# Step 5: ARIMA Modeling

# Step 6: Interpreting Results